<div class="challenge-container-detail">
    <div class="col-md-12 mar-bot">
        <input class="datepicker" id="lastMonth" name="txtLastMonth" [(ngModel)]="date2">
        <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onAddChallenge()">
            Confirm
        </button>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Day</th>
            <th *ngFor="let promoCode of promCodeList">{{promoCode.promoCodeTypeName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of reports">
            <td>{{item.day}}</td>
            <td *ngFor="let promoCodeTypeItem of item.promoCodeType">{{promoCodeTypeItem.total}}</td>
        </tr>
    </tbody>
</table>