table,
th,
td {
    border: 1px solid;
    padding: 5px;
    text-align: center;
}
table{
    width: 100%;
}
.mar-bot{
    text-align: center;
    margin: 0 0 30px 0;
}
input{
    height: 40px;
    padding: 10px;
}
.btn-submit{
    margin-left: 20px;
}