.appasflyer{
    text-align:  center;
    input{
        margin: 0 15px;
    }
}
.install{
    display: flex;
    justify-content: space-around;
}
.innerHTML{
    margin: 30px;
}
.appasflyer-search{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        margin:  0 10px;
        height: 40px;
    }
}