<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <div class="title">Appasflyer</div>
    </nb-card-header>
    <nb-card-body>
        <div class="appasflyer-search">
            <input class="datepicker" id="lastMonth" name="txtLastMonth" [(ngModel)]="lastmonth">
            <input class="datepicker" id="currentMonth" name="txtCurrentMonth" [(ngModel)]="currentmonth">
            <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onCallAPIAppasflyer()">
                Confirm
            </button>
        </div>

        <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>

        <div class="appasflyer">
            <ng2-smart-table [settings]="settings" [source]="listSelectAppasflyer" (userRowSelect)="onAppasflyerDetailModalOpen($event)">
            </ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>