<div class="row">
    <div class="col-md-12">
        <form #dataForm="ngForm">
            <nb-card>
                <nb-card-body>
                    <div class="title-challenge">
                        <span *ngIf="id">Edit</span>
                        <span *ngIf="!id">Add</span>
                        Challenge
                    </div>
                    <nb-stepper #stepper>
                        <nb-step [stepControl]="firstForm" label="Challenge">
                            <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
                                <div class="challenge-container">
                                    <div class="challenge-container-detail">
                                        <div class="col-md-6 mar-bot">
                                            Title:
                                            <span class="text-danger">*</span>
                                            <input type="text" name="ftitle" #ftitleRef="ngModel" required [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="ftitleRef.invalid && ftitleRef.touched">Required</small>
                                        </div>
                                        <div class="col-md-6 mar-bot">
                                            Description:
                                            <span class="text-danger">*</span>
                                            <input type="text" name="fdetail" #fdetailRef="ngModel" required [(ngModel)]="detail" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdetailRef.invalid && fdetailRef.touched">Required</small>
                                        </div>
                                    </div>
                                    <div class="challenge-container-detail">
                                        <div class="col-md-6 mar-bot">
                                            MemberShip User
                                            <span class="text-danger">*</span>
                                            <div class="option-radio-group">
                                                <nb-radio-group name="fradio" [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}" (valueChange)="onChange($event)">
                                                    <nb-radio value="1">All</nb-radio>
                                                    <nb-radio value="2">Enter email</nb-radio>
                                                    <nb-radio value="3">Choose the package</nb-radio>
                                                </nb-radio-group>
                                            </div>

                                            <div *ngIf="selectedOption == '1'">
                                                <input type="text" name="fAllEmail" disabled #fAllEmail="ngModel" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                            </div>

                                            <div *ngIf="selectedOption == '2'">
                                                <input type="text" name="femail" #femailRef="ngModel" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                                <small class="text-danger" *ngIf="femailRef.invalid && femailRef.touched">Required</small>
                                            </div>

                                            <div *ngIf="selectedOption == '3'" class="select-package">
                                                <select (change)="onPackageChange($event.target.value)" [(ngModel)]="email" name="fpackageName" #fpackageName="ngModel" [ngModelOptions]="{standalone: true}">
                                                    <option *ngFor="let item of listPackage" [value]="item.packageName"> {{item.packageName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mar-bot">
                                            Image:
                                            <span class="text-danger">* (accept: .png, .jpg, .jpeg, .pdf)</span>
                                            <div class="img-base64textString">
                                                <img *ngFor="let item of base64textString" src={{item}} alt="" id="img">
                                                <input type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg, .pdf" name="fimage" #fimageRef="ngModel"
                                                    [(ngModel)]="image" [ngModelOptions]="{standalone: true}" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="challenge-container-detail">
                                        <div class="col-md-6 mar-bot">Date From:
                                            <span class="text-danger">*</span>
                                            <input type="date" name="fdateFrom" #fdateFromRef="ngModel" required [(ngModel)]="dateFrom" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdateFromRef.invalid && fdateFromRef.touched">Required</small>
                                        </div>
                                        <div class="col-md-6 mar-bot">Date To:
                                            <span class="text-danger">*</span>
                                            <input type="date" name="fdateTo" #fdateToRef="ngModel" required [(ngModel)]="dateTo" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdateToRef.invalid && fdateToRef.touched">Required</small>
                                        </div>
                                    </div>
                                </div>
                                <button nbButton nbStepperNext style="float: right">next</button>
                            </form>
                        </nb-step>
                        <nb-step [stepControl]="secondForm" label="Condition">
                            <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                                <div class="challenge-container">
                                    <div class="promocode">
                                        <div class="col-md-6 mar-bot promocode-value">
                                            Condition Type:
                                            <select class="form-control promocode-value-select" name="fselectchallenge" [(ngModel)]="selectChallengeConditionType" (change)=onChangeChallengeConditionType($event.target.value)
                                                [ngModelOptions]="{standalone: true}">
                                                <option *ngFor="let item of challengeConditionType" value="{{item.id}}">
                                                    {{item.value}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 mar-bot promocode-value">
                                            PASS to complete the condition:
                                            <span class="text-danger">*</span>
                                            <input type="number" name="fvalueCondition" #fvalueConditionRef="ngModel" [(ngModel)]="valueCondition" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fvalueConditionRef.invalid && fvalueConditionRef.touched">Required</small>
                                        </div>
                                    </div>
                                    <div class="challenge-container-detail">
                                        <div class="col-md-6 mar-bot">
                                            Title:
                                            <span class="text-danger">*</span>
                                            <input type="text" name="ftitleCondition" #ftitleConditionRef="ngModel" required [(ngModel)]="titleCondition" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="ftitleConditionRef.invalid && ftitleConditionRef.touched">Required</small>
                                        </div>
                                        <div class="col-md-6 mar-bot">
                                            Description:
                                            <span class="text-danger">*</span>
                                            <input type="text" name="fdetailCondition" #fdetailConditionRef="ngModel" [(ngModel)]="detailCondition" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdetailConditionRef.invalid && fdetailConditionRef.touched">Required</small>
                                        </div>
                                    </div>
                                    <div class="challenge-container-detail">
                                        <div class="col-md-6 mar-bot">Date From:
                                            <span class="text-danger">*</span>
                                            <input type="date" name="fdateFromCondition" #fdateFromConditionRef="ngModel" [(ngModel)]="dateFromCondition" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdateFromConditionRef.invalid && fdateFromConditionRef.touched">Required</small>
                                        </div>
                                        <div class="col-md-6 mar-bot">Date To:
                                            <span class="text-danger">*</span>
                                            <input type="date" name="fdateToCondition" #fdateToConditionRef="ngModel" [(ngModel)]="dateToCondition" [ngModelOptions]="{standalone: true}">
                                            <small class="text-danger" *ngIf="fdateToConditionRef.invalid && fdateToConditionRef.touched">Required</small>
                                        </div>
                                    </div>
                                </div>
                                <button nbButton nbStepperPrevious>prev</button>
                                <button nbButton nbStepperNext style="float: right">next</button>
                            </form>
                        </nb-step>
                        <nb-step [stepControl]="thirdForm" label="Prize Step">
                            <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
                                <div class="promocode-type">
                                    Prize:
                                    <select class="form-control promocode-value-select" name="fselectpromoType" [(ngModel)]="selectPromotionCodeType" (change)=onChangeProCodeType($event.target.value)
                                        [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let procodeType of promoCodeTypeList" value="{{procodeType.promocodeTypeId}}">
                                            {{procodeType.promocodeTypeName}}
                                        </option>
                                    </select>
                                </div>
                                <button nbButton nbStepperPrevious>prev</button>
                                <button nbButton nbStepperNext style="float: right">next</button>
                            </form>
                        </nb-step>
                        <nb-step [stepControl]="fourForm" label="Confirm">
                            <form [formGroup]="fourForm" (ngSubmit)="onFourSubmit()" class="step-container">
                                <h2 class="text-center">Are You Sure?</h2>
                                <div class="footer-button">
                                    <button type="button" [disabled]="dataForm.invalid" id="validate" class="btn btn-primary btn-submit" (click)="onSubmitChallenge()">
                                        Confirm
                                    </button>
                                </div>
                                <button nbButton nbStepperPrevious>prev</button>
                                <!-- <button nbButton nbStepperNext>Confirm</button> -->
                            </form>
                        </nb-step>
                        <!-- <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
                            <div class="step-container">
                                <h3>Wizard completed!</h3>
                                <button nbButton (click)="stepper.reset()">Try again</button>
                            </div>
                        </nb-step> -->
                    </nb-stepper>
                </nb-card-body>
            </nb-card>
        </form>
    </div>
</div>