.nb-card-body {
    padding-top: 5em;
    padding-bottom: 5em;
}

.challenge-container {
    input {
        width: 100%;
        height: 37px;
        border-radius: 5px;
        border: none;
        margin-bottom: 5px;
        margin-top: 10px;
        padding: 5px 15px;
    }

    .challenge-container-detail {
        display: flex;

        .mar-bot {
            margin-bottom: 20px;

            .img-base64textString {
                display: flex;

                img {
                    width: 200px;
                }
            }
        }
    }
}

select {
    margin-top: 10px;
}

.title-challenge {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}

.btn-submit {
    margin-left: 15px;
}

.footer-button {
    float: right;
}

.promocode-type {
    .promocode-value-select {
        font-size: 14px;
        height: 40px !important;
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

.promocode {
    display: flex;
    margin: 20px 0;

    .promocode-value-select {
        font-size: 14px;
        height: 40px !important;
        padding: 0 20px;
    }

    // .promocode-type {
    //     width: 49%;
    //     margin-right: 35px;
    // }

    // .promocode-uniqueString {
    //     width: 33%;
    //     margin-right: 35px;
    // }
    // .promocode-value{
    //     width: 49%;
    //     input{
    //         height: 45px;
    //     }
    // }
}

.step-content {
    font-size: 1rem;
    line-height: 1.25;
    background: #3d3780;
    color: #d1d1ff;
    margin-bottom: 1.5rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 8px 20px 0 rgba(40, 37, 89, .6);
    box-shadow: 0 8px 20px 0 rgba(40, 37, 89, .6);
    font-weight: 400;
    border: 0 solid #3d3780;
    scrollbar-face-color: #554db3;
    scrollbar-track-color: #332e73;
}

.option-radio-group {
    display: flex;
    margin: 20px 0;

    nb-radio-group {
        display: flex;
    }
}

.select-package select {
    width: 100%;
    border-radius: 5px;
    height: 37px;
}