<nb-card>
    <nb-card-header>
        <div class="title">Supplier Consumption</div>
    </nb-card-header>
    <nb-card-body>
        <div class="month-info">
            <select (change)="onBusinessChanged()" [(ngModel)]="selectedItemBusiness" class="select-business">
                <option *ngFor="let item of listmonthConsumption" value="{{item.businessId}}">{{item.businessName}}</option>
            </select>
        </div>
        <div class="pass-by-category" [nbSpinner]="loading">
            <ng2-smart-table [settings]="settings" [source]="listVenueConsumption"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>