<nb-card>
    <nb-card-header>
        <div class="title"> Create Brand Product</div>
    </nb-card-header>
    <nb-card-body>
        <form class="step-container">
            <div class="challenge-container">
                <div class="challenge-container-detail">
                    <div class="col-md-6 mar-bot">
                        Brand:
                        <span class="text-danger">*</span>
                        <input type="text" name="fbrand" #fbrandRef="ngModel" required [(ngModel)]="brand" [ngModelOptions]="{standalone: true}">
                        <small class="text-danger" *ngIf="fbrandRef.invalid && fbrandRef.touched">Required</small>
                    </div>
                    <div class="col-md-6 mar-bot">
                        Key Search:
                        <span class="text-danger">*</span>
                        <input type="text" name="fkeySearch" #fkeySearchRef="ngModel" required [(ngModel)]="keySearch" [ngModelOptions]="{standalone: true}">
                        <small class="text-danger" *ngIf="fkeySearchRef.invalid && fkeySearchRef.touched">Required</small>
                    </div>
                </div>
            </div>
            <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onCreateBrandSubmit()">
                Save
            </button>
        </form>
    </nb-card-body>
</nb-card>