<nb-card>
    <nb-card-header>
        <div class="title">PASS By Category</div>
    </nb-card-header>
    <nb-card-body>
        <div class="pass-by-category">
            <input class="datepicker" id="lastMonth" name="txtLastMonth" [(ngModel)]="lastmonth">
            <input class="datepicker" id="currentMonth" name="txtCurrentMonth" [(ngModel)]="currentmonth">

            <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onSubmitPeriod()">
                Confirm
            </button>
        </div>
        <canvas id="myChart" class="chart-pass-by-category"></canvas>
    </nb-card-body>
</nb-card>