
.pass-by-category{
    text-align: center;
    margin-bottom: 20px;
    input{
        margin-right: 20px;
        height: 40px;
        border-radius: 5px;
        border: none;
        padding: 10px;
    }
}