<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <div class="title">PASS Activity</div>
    </nb-card-header>
    <nb-card-body>
        <div class="pass-by-activity">
            <input class="datepicker" id="lastMonth" name="txtLastMonth" [(ngModel)]="lastmonth">
            <input class="datepicker" id="currentMonth" name="txtCurrentMonth" [(ngModel)]="currentmonth">
            <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onSubmitPeriod()">
                Confirm
            </button>
        </div>

        <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>

        <ng2-smart-table [settings]="settings" [source]="listPassActivity"></ng2-smart-table>

    </nb-card-body>
</nb-card>