.table-pass-by-activity{
    width: 100%;
    border: 1px solid;
    text-align: center;
    th, td{
        border: 1px solid;
        padding: 10px 0;
    }
    th{
        background: #7659ff;
    }
}
.pass-by-activity{
    text-align: center;
    margin-bottom: 50px;
}
input{
    margin-right: 10px;
    border: none;
    padding: 11px 10px;
}
.chart-pass-by-activity{
    margin-bottom: 30px;
}