<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nb-card [nbSpinner]="loading">
                <nb-card-body>
                    <div class="flex-centered col-lg-6 col-md-8 col-sm-12">
                        <input [(ngModel)]="title" type="text" name="firstname" placeholder="Title...." id="title" class="txt-input">
                        <textarea [(ngModel)]="body" rows="4" cols="50" placeholder="Describe yourself here..." class="txt-textarea"></textarea>
                        <button type="button" id="validate" class="btn-submit" (click)="onPushNotification()">Submit</button>
                        <div id="result"></div>
                    </div>
                </nb-card-body>
                <nb-card-body>
                    <ng2-smart-table [settings]="settings" [source]="listNotification"></ng2-smart-table>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>