.nb-card-body {
    padding-top: 5em;
    padding-bottom: 5em;
}

.flex-centered {
    margin: auto;
    text-align: center;

    .txt-input {
        height: 34px;
        border-radius: 5px;
        border: none;
        padding: 5px;
        width: 100%;
        margin: 20px 0 0;
    }

    .txt-textarea {
        border-radius: 5px;
        border: none;
        padding: 5px;
        width: 100%;
        margin: 20px 0;
    }

    .btn-submit {
        height: 35px;
        padding: 5px 20px;
        border-radius: 5px;
        border: none;
        background: linear-gradient(to right, #ad59ff, #7659ff);
        color: #fff;

        &:hover {
            cursor: pointer;

        }
    }
}
.table-notification-history{
    border: 1px solid;
    width: 100%;
    td, th{
        border: 1px solid;
        padding: 10px;
    }
    th{
        text-align: center;
    }
}