.nb-card-body {
    padding-top: 5em;
    padding-bottom: 5em;
}
.challenge-container{
    input{
        width: 100%;
        height: 30px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
        margin-top: 10px;
        padding: 5px 15px;
    }
    .challenge-container-detail{
        display: flex;
    }
}
.title-challenge{
    border-bottom: 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 20px;
}
.btn-submit{
    margin-left: 15px;
}
.footer-button{
    float: right;
}