<div class="row">
    <div class="col-md-12">
        <form #dataForm="ngForm">
            <nb-card>
                <nb-card-body>
                    <div class="title-challenge">
                        <span *ngIf="id">Edit</span>
                        <span *ngIf="!id">Add</span>
                        Challenge Condition Type
                    </div>
                    <div class="challenge-container">
                        <!-- <div class="challenge-container-detail">
                            <div class="col-md-6">
                                Value:
                                <span class="text-danger">*</span>
                                <input type="text" name="ftitle" #ftitleRef="ngModel" required >
                                <small class="text-danger" *ngIf="ftitleRef.invalid && ftitleRef.touched">Required</small>
                            </div>
                        </div> -->
                    </div>
                </nb-card-body>
                <div class="footer-button">
                    <button type="button" id="validate" class="btn btn-default" (click)="onBackChallengeConditionType()">
                        Back
                    </button>

                    <button type="button" [disabled]="dataForm.invalid" id="validate" class="btn btn-primary btn-submit" (click)="onAddChallengeConditionType()">
                        Submit
                    </button>
                </div>
            </nb-card>
        </form>
    </div>
</div>