<nb-card>
    <nb-card-header>
        <div class="title">Management Venues SINGHA-- {{totalVenue}} Venues ({{totalVenueActive}} ON / {{totalVenueDeactive}} OFF)</div>
    </nb-card-header>
    <nb-card-body>
        <div class="pass-by-category" [nbSpinner]="loading">
            <ng2-smart-table [settings]="settings" [source]="listManagementVenues"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>