<div class="row" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="title">Vendor Payment</div>
            </nb-card-header>
            <nb-card-body>
                <div>
                    <h3 class="text-center" [innerHTML]="htmlStr"></h3>
                    <div>
                        <div class="total-number">
                            <h3>Total: {{total | number:0}} {{currency}}</h3>
                            <h3>Paid: {{totalPayment | number:0}} {{currency}}</h3>
                            <h3>Unpaid: {{totalUnpaid | number:0}} {{currency}}</h3>
                            <h3>Total Unpaid: {{statusUnPaid}}</h3>
                        </div>
                        <ng2-smart-table [settings]="settings" [source]="vendorPaymentByVenueList" (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>