<div class="row">
    <div class="col-md-12">
        <nb-card size="large" class="large-card">
            <nb-card-body>
                <button type="button" id="validate" class="btn btn-add btn-success" (click)="onAddChallengeConditionType()">
                    <i class="fa fa-plus" aria-hidden="true"></i>Add Challenge</button>

                <div class="flex-centered">
                    <table class="table-challenge">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of listChallengeConditionType">
                                <td>{{type.id}}</td>
                                <td>{{type.value}}</td>
                                <td class="text-center">
                                    <button (click)="onEditChallengeConditionType(challengeConditionType.id)" class="btn btn-edit btn-info">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>