.error {
    color: red;
    margin: 0 0 5px 0px!important;
}

.text-success {
    color: green($color: #000000);
    margin: 0 0 5px 0px!important;
}
.confirmation_code_group{
    border-spacing: 10px;
}
.input_wrapper{position:relative}
.plastic_select, input[type=url], input[type=text], input[type=tel], input[type=number], input[type=email], input[type=password], select, textarea {
    width: 100%;
    max-width: 100%;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    height: auto;
}
.large_bottom_margin {
    margin-bottom: 2rem!important;
}
.split_input{display:table;border-spacing:0}
.split_input_item{
    display:table-cell;
    border-radius: 10px;
    background: #2F296B;
}
.split_input_item.focused{
    border:1px double #2780f8;
    box-shadow:0 0 7px rgba(39,128,248,.3)
}
.split_input_item input{
    height:5rem;
    text-align:center;
    font-size:2.5rem;
    border:none;
    background:0 0;
    box-shadow:none;
    color: #fff;
}
.split_input_item input:active,.split_input_item input:focus,.split_input_item input:hover{
    box-shadow:none
}
.confirmation_code_span_cell{
    display:table-cell;
    font-weight:700;
    font-size:2rem;
    text-align:center;
    padding:0 .5rem;
    width:2rem
}
.confirmation_code_state_message{
    position:absolute;width:100%;opacity:0;
    -webkit-transition:opacity .2s;
    -moz-transition:opacity .2s;
    transition:opacity .2s
}
.confirmation_code_state_message.error,.confirmation_code_state_message.processing,.confirmation_code_state_message.ratelimited{
    font-size:1.25rem;
    font-weight:700;
    line-height:2rem
}
.confirmation_code_state_message.processing{
    color:#3aa3e3
}
.confirmation_code_state_message.error,.confirmation_code_state_message.ratelimited{
    color:#ffa940
}
.confirmation_code_state_message ts-icon:before{
    font-size:2.5rem
}
.confirmation_code_state_message svg.ts_icon_spinner{
    height:2rem;
    width:2rem
}
.confirmation_code_checker{
    position:relative;
    height:12rem;
    text-align:center
}
.confirmation_code_checker[data-state=unchecked] .confirmation_code_state_message.unchecked,.confirmation_code_checker[data-state=error] .confirmation_code_state_message.error,.confirmation_code_checker[data-state=processing] .confirmation_code_state_message.processing,.confirmation_code_checker[data-state=ratelimited] .confirmation_code_state_message.ratelimited{opacity:1}
.large_bottom_margin {
    margin-bottom: 2rem !important;
    margin-top: 30px;
    text-align: center;
}
.info-get-email{
    margin-top: 20px;
    text-align: center;
    display: block;
}
.flex-centered{
    margin: auto;
    .flex-centered-block{
        max-width: 100%;
        .title{
            font-size: 30px;
            padding-bottom: 15px;
            border-bottom: 2px solid #635591;
        }
    }
}
.btn-block{
    background: #372e61 !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 30px !important;
    color: #8c89a1;
    font-weight: 700;
    cursor: pointer;
    // &:hover{
    //     background: #554788;
    // }
}
.flex-centered-description{
    background: #554788;
    padding: 10px;
    border-radius: 10px;
    font-weight: 300;
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 13px;
    a{
        color: #fff;
        text-decoration: underline;
    }
}
.input-email{
    background: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0;
    font-size: 30px;
    &:focus, &:active{
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background: transparent;
    }
    
}
.input-email .form-email-otp{
    font-size: 15px;
}
.tell-email{
    color: #a39bbe;
    font-size: 12px;
    font-weight: 700;
}
.nb-theme-cosmic nb-card{
    background: #483980;
}