<nb-card>
    <nb-card-header>
        <div class="title">Management Cities</div>
    </nb-card-header>
    <nb-card-body>
        <div class="month-info">
            <select (change)="onCityChanged()" [(ngModel)]="selectedItemCity" class="select-business">
                <option *ngFor="let item of listManagementCities" value="{{item.internationalZoneId}}">{{item.internationalZoneName}}</option>
            </select>
        </div>
        <div class="pass-by-category" [nbSpinner]="loading">
            <ng2-smart-table [settings]="settings" [source]="listManagementVenues"></ng2-smart-table>
        </div>
    </nb-card-body>
</nb-card>