<div class="row" [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="title">Activation</div>
            </nb-card-header>
            <nb-card-body>
                <div>
                    <h3 class="text-center"></h3>
                    <div>
                        <ng2-smart-table [settings]="settings" [source]="events"></ng2-smart-table>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>