:host /deep/ .edit-endor {
    font-size: 25px;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-left: 15px;
}

.total-number {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

:host /deep/ select.form-control {
    height: 32px !important;
    padding: 0.1em .6em;

}

// :host /deep/ select option:hover {
//     background-color: #7659ff;
//     color: #fff;
//     cursor: pointer;
// }

// :host /deep/ .nb-theme-cosmic ng2-smart-table .ng2-smart-actions a.ng2-smart-action:hover {
//     color: #7659ff;
// }