<nb-card>
    <nb-card-header>
        <div class="title">Venue Month Consumption</div>
    </nb-card-header>
    <nb-card-body>
        <div class="month-info">
            <input class="datepicker" id="month" name="txtMonth" [(ngModel)]="month">
            <button type="button" id="validate" class="btn btn-primary btn-submit" (click)="onVenueMonthSubmit()">
                Confirm
            </button>
            <div class="btn btn-success btn-send" (click)="onSendReconciliationSubmit()">SEND RECONCILIATION</div>
        </div>
        <div class="row" *ngFor="let venue of reconciliationByVenues">
            <div class="col-md-3">
                <div>{{venue.businessVenueName}}</div>
                <div class="venue-address">{{venue.addressName}}</div>
            </div>
            <div class="col-md-9">
                <table width="100%">
                    <thead>
                        <tr>
                            <th width="30%">Product Type Name</th>
                            <th width="30%">Total Pass Product Type</th>
                            <th width="40%">Total Price Product Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of venue.reconciliationByProductTypeList">
                            <td>{{product.productTypeName}}</td>
                            <td>{{product.totalPassProductType}}</td>
                            <td>{{product.totalPriceProductType | number:0}} {{product.currencyIdentifier}}</td>
                        </tr>

                        <!-- <table class="table-product">
                            <tr>
                                <td class="td-empty"></td>
                                <td width="30%">{{venue.totalPass}}</td>
                                <td width="40%">{{venue.price | number:0}} {{product.currencyIdentifier}}</td>
                            </tr>
                        </table> -->
                    </tbody>
                </table>

            </div>
        </div>
    </nb-card-body>
</nb-card>