
table th,
table td {
    border: 1px solid #dee2e6;
    padding: 5px
}

table tr th{
    text-align: center;
}
.month-info{
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    input{
        margin-right: 10px;
    }
}
.img-venue{
    max-width: 50%;
    border: 1px solid;
    margin: 15px 0;
    img{
        width: 100%;
    }
}
.td-empty{
    border: none ;
    width: 30%;
}
.table-product{
    width: 100%;
    margin: 1px 0 50px 0;
}
.ng-star-inserted{
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.venue-address{
    font-size: 11px;
}
.btn-send{
    margin-left: 20px;
    cursor: pointer;
}