<nb-card [nbSpinner]="loading">
    <nb-card-header>Product Brand</nb-card-header>
    <nb-card-body>
        <button type="button" id="validate" class="btn btn-add btn-success" (click)="onBrandProduct()">
            <i class="fa fa-plus" aria-hidden="true"></i>Add Brand Product</button>
    </nb-card-body>
    <nb-card-body>
        <ng2-smart-table [settings]="settingsProduct" [source]="listBrandProductDetail"></ng2-smart-table>
    </nb-card-body>
</nb-card>
<nb-card [nbSpinner]="loading">
    <nb-card-header>Graph Facebook</nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settingsGraph" [source]="listGraphFacebookDetail"></ng2-smart-table>
    </nb-card-body>
</nb-card>