<div class="row">
  <div class="col-md-12">
    <nb-card>
      <div class="table-list-venue">
        <table>
          <thead>
            <tr>
              <th style="width: 60%">Name</th>
              <th style="width: 30%">Facebook Id</th>
              <th style="width: 10%"></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of this.listVenue">
              <tr>
                <td>{{item.Name}}</td>
                <td class="text-fb">
                  <input type="text" [(ngModel)]="item.Facebook">
                </td>
                <td class="text-center">
                  <button (click)="onSave(item.Id)" class="btn-save">Save</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </nb-card>
  </div>
</div>