.table-list-venue {
    margin: 20px;

    table {
        width: 100%;

        thead tr th {
            color: #a1a1e5;
            padding: 1.25rem;
            border: 1px solid;
            text-align: center;
        }

        tbody tr td {
            color: #a1a1e5;
            padding: 1.25rem;
            border: 1px solid;

            .btn-save {
                background: green;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                color: #fff;
            }

        }

        .text-fb input {
            min-width: 400px;
            height: 30px;
            padding: 5px;
        }
    }

}