<div class="row">
    <div class="col-md-12">
        <nb-card size="large">
            <div class="pull-right input-search-info">
                Search:
                <input type="text" class="input-search pull-right" id="myInput" [(ngModel)]="seachKeyWord" (keyup)="keyUpSearch()" placeholder="Search for code.."
                    title="Type in a name">
            </div>

            <nb-list>
                <nb-list-item *ngFor="let adminPermission of adminPermissions">
                    <nb-user [name]="adminPermission.businessName"></nb-user>
                    <input type="text" class="input-permission pull-right" title="Type in a name" [(ngModel)]="adminPermission.permissionType">
                    
                    <div class="input-email-container">
                        <div *ngFor="let emailModel of adminPermission.memberEmails; let indexEmail = index">
                            <input type="text" class="input-search-email pull-right" title="Type in a name" [(ngModel)]="emailModel.memberEmail" required
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <button class="btn-delete button" type="button" (click)="onClickDeleteInput(adminPermission, indexEmail)"> x </button>
                        </div>
                    </div>
                    <div class="wrapper-div">
                        <button class="btn-add button" type="button" (click)="onClickAddInput(adminPermission)"> Add Email </button>
                        <button class="btn-edit button" type="button" (click)="onClickSubmit(adminPermission, 'top-right', 'success')"> Submit </button>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>