<div class="modal-header">
    <h4 class="modal-title">{{appasflyer?.createdDateMonth}}/{{appasflyer?.createdDateYear}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <table class="table-appasflyer-detail">
        <tr>
            <th>Device</th>
            <th>Install</th>
            <th>Registrations</th>
            <th>Conversion Rate</th>
        </tr>
        <tr *ngFor="let item of appasflyer?.appasflyerInstallsDetailList">
            <td>{{item.device}}</td>
            <td>{{item.installs}}</td>
            <td>{{item.registrations}}</td>
            <td>{{item.conversionRate1}}%</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>