.table-appasflyer-detail {
    width: 100%;
    
    tr {
        border: 1px solid #fff;

        th,
        td {
            text-align: center;
            border-right: 1px solid #fff;
            padding: 10px;
        }
    }
}