<div class="row">
    <div class="col-md-12">
        <nb-card size="large" class="large-card">
            <nb-card-body>
                <button type="button" id="validate" class="btn btn-add btn-success" (click)="onAddChallenge()">
                    <i class="fa fa-plus" aria-hidden="true"></i>Add Challenge</button>

                <div class="flex-centered">
                    <table class="table-challenge">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Details</th>
                                <th>DateFrom</th>
                                <th>DateTo</th>
                                <th>CreatedBy</th>
                                <th>CreatedDate</th>
                                <th>ImageUrl</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let challenge of listChallenge">
                                <td>{{challenge.title}}</td>
                                <td>{{challenge.details}}</td>
                                <td>{{challenge.dateFrom | date:'dd/MM/yyyy'}}</td>
                                <td>{{challenge.dateTo | date:'dd/MM/yyyy'}}</td>
                                <td>{{challenge.createdBy}}</td>
                                <td>{{challenge.createdDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                    <img src="{{challenge.imageUrl}}" />
                                </td>
                                <td class="text-center">
                                    <button (click)="onEditChallenge(challenge.id)" class="btn btn-edit btn-info">Edit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>