.nb-card-body {
    padding-top: 5em;
    padding-bottom: 5em;
}
.btn-edit{
    cursor: pointer;
    float: right;
    margin: 20px 0;
}
.table-challenge{
    width: 100%;
    thead tr th {
        border: 1px solid #ddd; 
        border-collapse: collapse;
        text-align: center;
        padding: 20px 0;
    }
    tbody tr td{
        border: 1px solid #ddd; 
        border-collapse: collapse;
        padding: 10px;
        img{
            width: 300px;
        }
    }
}
.btn-add{
    float: right;
    margin: 0 0 20px 0;
}