<div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-12 col-xxxl-12">
    <nb-accordion>

      
      <nb-accordion-item *ngFor="let item of listInfomation">
        <nb-accordion-item-header>
            <div class="col-md-2 col-lg-2 col-xxxl-2">
                
              <nb-progress-bar [value]="item.company.createdPercent" status="primary" [displayValue]="true"></nb-progress-bar>
            </div>
            <div class="col-md-10 col-lg-10 col-xxxl-10">
                <i class="nb-star"></i>
                {{ item.member.email }}
            </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
            <h4>Company Information</h4>
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Legal Entity Name </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.name }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Tax/Registration Number </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.tax }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Registered Address </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.address }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Facebook Page Url </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.fbPageUrl }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Website Url </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.webUrl }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Phone No </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.phoneNo }} </div>
            </div>
            
            <div class="row">
              <div class="col-md-3 col-lg-3 col-xxxl-3"> Country </div>
              <div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.fbPageUrl }} </div>
            </div>


            <h4>Bank Information</h4>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Number </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.no }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Holders </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.holder }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Name </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.name }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Branch </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.branch }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Swift Code </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.company.swiftCode }} </div></div>


            <h4>First Venue Information</h4>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Name </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.no }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Description </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.description }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Facebook Page Id </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.fbId }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Address </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.address }} </div></div>
            <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Phone No </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.phoneNo }} </div></div>

            <h5>Working date</h5>
            <div *ngIf="item.venue.typeDateOpening == 0">
                <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Type </div><div class="col-md-9 col-lg-9 col-xxxl-9"> Perdays </div></div>
                <div class="col-md-3 col-lg-3 col-xxxl-3"> {{ item.venue.dateOpeningOnedayObject.DayOfWeek }} </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ item.venue.dateOpeningOnedayObject.TimeOpen }} - {{ item.venue.dateOpeningOnedayObject.TimeClosed }} <span *ngIf="item.venue.dateOpeningOnedayObject.On == true || item.venue.dateOpeningOnedayObject.On == 'true'">(OPENING)</span></div>
            </div>
            
            <div *ngIf="item.venue.typeDateOpening == 1">
                <div class="row"> <div class="col-md-3 col-lg-3 col-xxxl-3"> Type </div><div class="col-md-9 col-lg-9 col-xxxl-9"> Customize </div></div>
                <div class="row" *ngFor="let dateOpeningItem of item.venue.dateOpeningObject">
                    <div class="col-md-3 col-lg-3 col-xxxl-3"> {{ dateOpeningItem.DayOfWeek }} </div><div class="col-md-9 col-lg-9 col-xxxl-9"> {{ dateOpeningItem.TimeOpen }} - {{ dateOpeningItem.TimeClosed }} <span *ngIf="dateOpeningItem.On == true || dateOpeningItem.On == 'true'">(OPENING)</span></div>
                </div>
            </div>            

            <button class="btn btn-success" type="submit">Approve</button>
        </nb-accordion-item-body>
      </nb-accordion-item>

      

    </nb-accordion>
  </div>
</div>