@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

 nb-card-body {
   overflow: visible;
 }

 .input-group {
   margin-bottom: 1rem;
 }

 .validation-checkboxes {
   display: flex;
   justify-content: space-between;

   .custom-control {
     margin-left: 1rem;
   }
 }

 .demo-checkboxes {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }

 .demo-radio {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }

 .demo-disabled-checkbox-radio {
   display: flex;
   flex-direction: column;
   margin-bottom: 1rem;
 }

 .demo-checkboxes-radio {
   display: flex;
   justify-content: space-between;
 }

 .demo-rating {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .star {
   font-size: 1.5rem;
   color: nb-theme(color-fg);
 }

 .filled {
   color: nb-theme(color-fg);
 }

 // TODO: Replace with the card header styles mixin
 .rating-header {
   line-height: 2rem;
   font-size: 1.25rem;
   font-family: nb-theme(font-secondary);
   font-weight: nb-theme(font-weight-bolder);
   color: nb-theme(color-fg-heading);
 }

 .current-rate {
   font-size: 1.5rem;
   @include nb-ltr(padding-left, 1rem);
   @include nb-rtl(padding-right, 1rem);
   color: nb-theme(color-fg-heading);
 }

 .full-name-inputs {
   display: flex;
 }

 .input-group.has-person-icon {
   position: relative;

   .form-control {

     padding-left: 3rem;
   }

   &::before {
     content: '\F47D';
     font-family: 'Ionicons';
     font-size: 2rem;
     position: absolute;
     z-index: 100;
     left: 1rem;
     top: 0.25rem;
   }
 }

 .dropdown {
   min-width: 7rem;
 }

 .dropdown-menu {
   width: auto;
 }

 .form-group label {
   padding: 0 0 0.75rem;
 }

 .oneday {
   width: 100%;
 }

 ngb-rating {
   outline: none;
 }

 ngb-rating i {
   color: nb-theme(color-success);
   @include nb-for-theme(cosmic) {
     color: nb-theme(color-primary);
   }
 }

 @include media-breakpoint-down(xs) {
   button:not(.btn-icon) {
     padding: 0.75rem 1rem;
     font-size: 0.75rem;
   }
 }
}

.pad-0{
 padding: 0;
}

.table-default {
  border: 2px solid #342e73;
  color: #a1a1e5;
  width: 100%;
  margin: 20px 0;
  font-family: Roboto;

  thead tr{
    background: #2F296B;
  }
  tr:nth-child(even) {
    background: #3d3780;
    border: 2px solid #342e73;
  }
  th, td{
    vertical-align: middle;
    padding: 5px 10px;
    border: none;
  }  
  tr td{
    text-align: right;
  }
}

.step-container {
  button {
    margin-right: 5px;
  }
}



.accordions-container  i {
  left: 1rem!important;
  position: initial!important;
}